version: 2
updates:
    - package-ecosystem: "npm"
      directory: "/"
      schedule:
          interval: "weekly"
      target-branch: "main"
      labels:
          - "dependencies"

    - package-ecosystem: "docker"
      directory: "/"
      schedule:
          interval: "weekly"
      labels:
          - "dependencies"

    - package-ecosystem: "github-actions"
      directory: "/"
      schedule:
          interval: "weekly"
      labels:
          - "dependencies"
