{
    "semi": false,
    "singleQuote": false,
    "tabWidth": 4,
    "arrowParens": "always",
    "trailingComma": "es5",
    "printWidth": 90,
    "plugins": ["@trivago/prettier-plugin-sort-imports"],
    "importOrder": ["<BUILTIN_MODULES>", "<THIRD_PARTY_MODULES>", "^@/", "^[./]"],
    "importOrderCaseInsensitive": true
}
