services:
    db:
        image: postgres:18.1-alpine
        volumes:
            - postgresdata:/var/lib/postgresql/data/
        environment:
            - POSTGRES_DB=postgres
            - POSTGRES_USER=admin
            - POSTGRES_PASSWORD=admin
            - POSTGRES_HOST_AUTH_METHOD=trust
        ports:
            - "5432:5432"
        healthcheck:
            test: ["CMD-SHELL", "pg_isready -d $${POSTGRES_DB} -U $${POSTGRES_USER}"]
            interval: 10s
            timeout: 5s
            retries: 5

    minio:
        image: minio/minio:latest
        ports:
            - "9000:9000"
            - "9001:9001"
        environment:
            - MINIO_ROOT_USER=admin
            - MINIO_ROOT_PASSWORD=adminadmin
        volumes:
            - "miniodata:/data"
        command: server /data --console-address ":9001"

volumes:
    postgresdata:
    miniodata:
